<section data-scroll-theme class="area-3">
    <div class="content-wrapper">
        <div class="widget">
            <h3 class="widget-temp"><%= weather3.temp %>˚</h3>
            <div>
                <h4 class="widget-heading"><%= weather2[1].title %></h4>
                <p class="widget-text"><%= weather2[1].description %></p>
            </div>
        </div>
        <div class="activities">
            <h5 class="activities-heading">Some things you could do:</h5>
            <% activities2.forEach(activities2 => { %>
            <ul class="activities-list">
                <li class="list-item">
                    <img class="list-img" src="<%= activities2.mainImageUrl %>" alt="foto van activiteit">
                    <div class="list-container">
                        <h6 class="list-title"><%= activities2.title %></h6>
                        <p class="list-description" maxlength="50"><%= activities2.description %></p>
                        <hr class="list-line">
                    </div>
                </li>
            </ul>
            <% }); %>
        </div>
    </div>
</section>
