<section data-scroll-theme class="area-2 hidden">
    <div class="content-wrapper">
        <ul class="ul-container hidden">
            <li><h2 class="heading-forecast">Upcoming 5 days</h2></li>
            <% forecast2.forEach(forecast => { %>
            <div class="forecast-info-border">
                <li class="forecast-info hidden">
                    <p class="forecast-datum"><%= forecast.dayOfWeek %></p>
                    <ul class="forecast-ul">
                        <li class="temp"><%= forecast.minTemp %>° / <%= forecast.maxTemp %>°</li>
                        <li class="water"><%= forecast.precipitation %>mm</li>
                        <li class="wind"><%= forecast.windDirection %></li>
                    </ul>
                </li>
            </div>
            <% }); %>
        </ul>
    </div>
    <div class="forecast-border hidden">
        <div class="content-wrapper">
            <h2 class="heading-forecast2">Want to get a daily forecast?</h2>
            <form action="/post-subscribe" method="post">
                <label for="email" aria-label="email-form">
                    <input class="submit-text hidden" type="email" id="email" name="email" placeholder="Enter your e-mailaddress" required>
                </label>
                <button class="submit-button hidden" type="submit">Submit</button>
           </form>
        </div>
    </div>
 </section>