<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <main>
        <!-- ========================================= -->
        <!-- Navigationbar -->
        <!-- ========================================= -->
        <%- include('./partials/nav') %>

        <!-- ========================================= -->
        <!-- Canvas section -->
        <!-- ========================================= -->
        <div class="section-canvas">
            <% if (arts.length <= 0) { %>
                <p>NO IMAGES FOUND</p>
            <% } else { %>
                <form method="post" action="/">
                    <ul class="canvas-list">
                        <% arts.forEach((art, index) => { %>
                            <li class="canvas-item" 
                            data-number="<%= index + 1 %>" 
                            data-id="<%= art.id %>"
                            data-slug="<%= art.slug %>">
                                <picture>
                                    <source 
                                    src="https://fdnd-agency.directus.app/assets/<%= art.image %>?format=webp&fit=cover&width=300&height=200" type="image/webp">

                                    <img 
                                    class="canvas-img" 
                                    loading="lazy" 
                                    src="https://fdnd-agency.directus.app/assets/<%= art.image %>?fit=cover&width=300&height=200" alt="<%= art.title %>" 
                                    width="100" 
                                    height="100">
                                </picture>
                                <span class="image-tooltip hidden"><%= art.title %></span>
                            </li>
                        <% }); %>
                    </ul>
                    <button type="submit" class="btn-secondary">LOAD MORE</button>
                </form>
                <% } %>
        </div>

        <!-- ========================================= -->
        <!-- Filter section -->
        <!-- ========================================= -->
        <div class="section-filter">
            <form action="/" method="post">
                <!-- ========================================= -->
                <!-- Filter options -->
                <!-- ========================================= -->
                <ul class="filter-list">
                    <li class="filter-item btn-tertiary">
                        <label for="filter-all">ALL OBJECTS</label>
                        <input type="radio" name="filter" id="filter-all" value="ALL OBJECTS">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-pottery">POTTERY</label>
                        <input type="radio" name="filter" id="filter-pottery" value="POTTERY">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-islamic">ISLAMIC ART</label>
                        <input type="radio" name="filter" id="filter-islamic" value="ISLAMIC ART">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-tapestry">TAPESTRY</label>
                        <input type="radio" name="filter" id="filter-tapestry" value="TAPESTRY">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-glass">GLASS</label>
                        <input type="radio" name="filter" id="filter-glass" value="GLASS">
                    </li>
                </ul>
                <!-- ========================================= -->
                <!-- Search box -->
                <!-- ========================================= -->
                <div class="search-box">
                    <input type="text" placeholder="SEARCH THE COLLECTION">
                    <button type="submit" aria-label="search"></button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>