<%- include("./partials/head") %>

<div class="container">
    <%- include("./partials/area-1") %>
    <%- include("./partials/area-2") %>
    <%- include("./partials/area-3") %>
    <%- include("./partials/footer") %>
 </div>

<%- include("./partials/foot") %>