<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <main>
        <!-- ========================================= -->
        <!-- Navigationbar -->
        <!-- ========================================= -->
        <%- include('./partials/nav') %>

        <!-- ========================================= -->
        <!-- Canvas section -->
        <!-- ========================================= -->
        <div class="section-canvas">
            <ul class="canvas-list">
                <% arts.slice(0, 9).forEach((art, index) => { %>
                    <li class="canvas-item" data-number="<%= index + 1 %>" data-id="<%= art.id %>">
                        <img class="canvas-img" loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= art.image %>" alt="<%= art.title %>" width="100" height="100">
                    </li>
                <% }); %>
        </div>

        <!-- ========================================= -->
        <!-- Direction section -->
        <!-- ========================================= -->
        <div class="section-direction">
            <form action="/" method="post">
                <ul class="direction-list">
                    <li class="direction-item">
                        <label for="direction-left" aria-label="direction-left"></label>
                        <input type="radio" name="direction" id="direction-left" value="left" required>
                    </li>
                    <li class="direction-item">
                        <label for="direction-down" aria-label="direction-down"></label>
                        <input type="radio" name="direction" id="direction-down" value="down" required>
                    </li>
                    <li class="direction-item">
                        <label for="direction-right" aria-label="direction-right"></label>
                        <input type="radio" name="direction" id="direction-right" value="right" required>
                    </li>
                    <li class="direction-item">
                        <label for="direction-up" aria-label="direction-up"></label>
                        <input type="radio" name="direction" id="direction-up" value="up" required>
                    </li>
                </ul>

                <button type="submit" class="btn-secondary">LOAD MORE</button>
            </form>
        </div>

        <!-- ========================================= -->
        <!-- Filter section -->
        <!-- ========================================= -->
        <div class="section-filter">
            <form action="/" method="post">
                <!-- ========================================= -->
                <!-- Filter options -->
                <!-- ========================================= -->
                <ul class="filter-list">
                    <li class="filter-item btn-tertiary">
                        <label for="filter-all">ALL OBJECTS</label>
                        <input type="radio" name="filter" id="filter-all" value="ALL OBJECTS">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-pottery">POTTERY</label>
                        <input type="radio" name="filter" id="filter-pottery" value="POTTERY">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-islamic">ISLAMIC ART</label>
                        <input type="radio" name="filter" id="filter-islamic" value="ISLAMIC ART">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-tapestry">TAPESTRY</label>
                        <input type="radio" name="filter" id="filter-tapestry" value="TAPESTRY">
                    </li>
                    <li class="filter-item btn-tertiary">
                        <label for="filter-glass">GLASS</label>
                        <input type="radio" name="filter" id="filter-glass" value="GLASS">
                    </li>
                </ul>
                <!-- ========================================= -->
                <!-- Search box -->
                <!-- ========================================= -->
                <div class="search-box">
                    <input type="text" placeholder="SEARCH THE COLLECTION">
                    <button type="submit" aria-label="search"></button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>